<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="register">
    <header>
        <section class="encabezado-completo">
            <section class="caja-encabezado">
                <section>
                    <div class="logo">
                        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" /></a>
                    </div>
                </section>
                <section class="barra-busqueda">
                    <div class="buscar">
                        <p>Buscar productos...</p>
                    </div>
                    <div class="lupa">
                        <a href=""><i class="fas fa-search"></i></a>
                    </div>
                </section>
            </section>
            <section>
                <div class="cuotas">
                    <a href=""><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</a>
                </div>
            </section>
        </section>
        <section class="caja-menu">
            <nav>
                <ul class="menu-site">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul class="menu-login-navbar">
                    <li><a href="registro">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="login">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </section>
        <section>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </section>
    </header>
    <main>
        <div>
            <h1>Registro de Usuario</h1>
        </div>
        <form action="">
            <div class="box-form">
                <label class="forms" for="nombre">Nombre y apellido:</label>
                <input class="barra" type="text" name="nombre" id="nombre" placeholder="Ingresá tu nombre y apellido">
            </div>
            <div class="box-form">
                <label class="forms" for="usuario">Nombre de usuario:</label>
                <input class="barra" type="text" name="usuario" id="usuario" placeholder="Ingresá tu usuario">
            </div>
            <div class="box-form">
                <label class="forms" for="nacimiento">Fecha de nacimiento:</label>
                <input class="barra" type="date" name="nacimiento" id="nacimiento">
            </div>
            <div class="box-form">
                <label class="forms" for="domicilio">Domicilio:</label>
                <input class="barra" type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            </div>
            <div class="box-form">
                <h4>Perfíl de Usuario</h4>
                <div class="radio">
                    <div>
                        <input type="radio" id="comprador" name="usser-profile" value="comprador">
                        <label for="comprador">Comprador</label>
                    </div>
                    <div>
                        <input type="radio" id="vendedor" name="usser-profile" value="vendedor">
                        <label for="vendedor">Vendedor</label>
                    </div>
                </div>
            </div>
            <div class="box-form">
                <h4>Categorías de interés (puede elegir más de una)</h4>
                <div class="options">
                    <div>
                        <input type="checkbox" id="electro" value="electro" name="Categorías">
                        <label for="electro">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" id="moda" value="moda" name="Categorías">
                        <label for="moda">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" id="hogar" value="hogar" name="Categorías">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" id="jugueteria" value="jugueteria" name="Categorías">
                        <label for="jugueteria">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" id="vida-sana" value="vida-sana" name="Categorías">
                        <label for="vida-sana">Vida sana</label>
                    </div>
                </div>
                <div class="box-form">
                    <label class="forms" for="img-profile">Foto de Usuario:</label>
                    <input class="img-profile" type="file" name="img-profile" accept=".jpg" id="img-profile">
                </div>
                <div class="box-form">
                    <label class="forms" for="password">Contraseña:</label>
                    <input class="barra" type="password" name="password" id="password"
                        placeholder="Ingresá tu Contraseña">
                </div>
                <div class="box-form">
                    <label class="forms" for="password">Confirmar contraseña:</label>
                    <input class="barra" type="password" name="password" id="password"
                        placeholder="Confirmá tu Contraseña">
                </div>
                <div class="box-button">
                    <a href="/"><button type="button">Enviar</button></a>
                    <a href=""></a><button type="reset">Borrar</button></a>
                </div>
        </form>
    </main>
    <footer>
        <section class="caja-footer">
            <section class="seccion-footer">
                <a class="iconos" href=""><i class="fas fa-credit-card"></i></a>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="container">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
                    de
                    pago. ¡Y siempre es
                    seguro!</p>
            </section>
            <section class="seccion-footer">
                <a class="iconos" href=""><i class="fas fa-gift"></i></a>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="container">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos.
                    Es un beneficio de
                    Mercado Puntos.</p>
            </section>
            <section class="seccion-footer">
                <a class="iconos" href=""><i class="fas fa-user-shield"></i></a>
                <h3>Seguridad, de principio a fin</h3>
                <p class="container">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque
                    estás siempre
                    protegid@.</p>
            </section>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>

</body>

</html>